h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 900%;
	color:white;
}

#page-wrap {
  text-align: left;
  width: 1500px;
  margin: 0 auto;
}



button {
     width: 27%;
     height: 20%;
	 font-size: 200%;
}

table, th, td {
 border: 1px solid black;
color:black;
font-size: 100%;
background-color: white;
}

.nykynenBlindi {
    background-color: LightGreen;
}

.eiBlindi {
    background-color: white;
}
