
<html>

<script src="js/angular.min.js"></script>
<script src="js/poker.js"></script>
<script src="js/angular.audio.js"></script>

<head>
  <title>Vaasa Big Blind</title>
  
  <link href="css/custom.css" rel="stylesheet">
  
</head>

<body ng-app="BBapp" style="background-image:url(bgimage.jpg);background-size:cover">
<div ng-controller="BBController" >

<div id="page-wrap">
<div style="float:left">
<table>
<tr>
<td>
Big Blinds
</td>
<td>
Small Blinds
</td>
</tr>
<tr ng-repeat="blindit in blinds">
<td ng-class="{nykynenBlindi: blindit.smallBlind == bigblind , eiBlindi: blindit.smallBlind != bigblind}">
{{blindit.smallBlind}}
</td>
<td ng-class="{nykynenBlindi: blindit.bigBlind == smallblind , eiBlindi: blindit.bigBlind != smallblind}">
{{blindit.bigBlind}}
</td>
</tr>
</table>
</div>
<div style="background-image:url(bbchip.png);width:460px;float:left;height:460px">
<p style="text-align:center;margin-top:30%"> {{bigblind}}</p>
<p style="font-size:300%;padding-left:28%;padding-top:10px;">Big Blind</p>
</div>
<div style="background-image:url(sbchip.png);width:460px;float:left;height:460px">
<p style="color:black;text-align:center;margin-top:30%"> {{smallblind}} </p>
<p style="font-size:300%;padding-left:28%;padding-top:10px;">Small Blind</p>
</div>

</div>
<br>

<div style="clear:both;padding-left:35%">
<button type="button" ng-audio="sounds/raise.mp3" volume="0.5" ng-click="Klikkaus();">Nosta panoksia</button>

<button type="button" ng-audio="sounds/oho.mp3" volume="0.5"  style="height:50px;width:100px;font-size:50%" ng-click="missKlikkaus();">Missclick</button>
</div>
</div>



</body>
</html> 